# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files

*.~undo-tree
*.elc
auto-save-list/
var/
undo/
.history
.cache/
.eslintcache
.direnv/
.DS_Store

.context
...*